.button {
  font-size: var(--fz-m);
  font-family: inherit;
  width: 100%;
  color: var(--c-white);
  background-color: var(--accent);
  padding: var(--space-s);
  border: 0;
  cursor: pointer;
  outline-color: var(--accent);
}

.button--selected {
  background-color: var(--c-white);
  border: 1px solid var(--accent);
  color: var(--accent);
}

.button--disabled {
  background-color: var(--c-white);
  border: 1px solid var(--border-color);
  color: var(--border-color);
}

.button--sm {
  padding: var(--space-sm) 0px;
}