.footer-button-wrapper {
  padding: var(--space-m);
  border: 1px solid var(--text-color);
  border-top: 0;
}

.footer-button-wrapper--single {
  display: flex;
  justify-content: flex-end;
  padding: 0 26px 16px;
  padding-bottom: 6px;
  border-bottom: 0;
}


.button--single {
  flex: 1 1 auto;
}

.logo-wrapper {
  border: 1px solid var(--text-color);
  border-top: 0;
  padding: 0 26px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.logo-wrapper--uncompressed, .logo-wrapper--single{
  justify-content: center;
}

.logo-wrapper--single {
  padding-bottom: 6px;
}

.logo-image {
  height: 28px;
}

@media screen and (min-width: 400px) {
  .button--single {
    flex: 0 0 140px;
  }
}