:root {
--perimeter: 1px solid var(--text-color);
}

.wrapper {
  padding: var(--space-m);
}

.header {
  padding: 0 var(--space-m);
}

.button-wrapper {
  padding: var(--space-m);
}

.cards-wrapper {
  border: var(--perimeter);
}