@import './Header/index.css';
@import './Content/index.css';
@import './Footer/index.css';

:root {
--perimeter: 1px solid var(--text-color);
}

.wrapper {
  padding: var(--space-m);
}

.loadingWrapper {
  border: 1px solid var(--border-color);
  margin: var(--space-m);
  padding: var(--space-m);
}

.logo-wrapper {
  border-top: 0;
  padding: 0 26px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}
.logo-image {
  height: 28px;
}