@import "./Title/index.css";
@import "./Complement/index.css";

:root {
  --underline: 1px solid var(--border-color);
}  

.card {

}

.card:last-child {
  border-bottom: var(--underline);
}

.card--uncompressed:last-child {
  margin-bottom: 0;
}

.card--compressed {
  padding: 0 var(--space-m);
  border-bottom: var(--underline); 
}

.card--compressed.card:not(:first-child) {
  border-top: 0;
}

.card--uncompressed {
  margin: var(--space-m);
  padding: var(--space-s) var(--space-ml) var(--space-m);
  border: 1px solid var(--border-color);

}


