@import "./Title/index.css";
@import "./Complement/index.css";

:root {
  --underline: 1px solid var(--border-color);
}  

.card {

}

.card:last-child {
  border-bottom: var(--underline);
}

.card--single {
  width: 100%;
}

.card--single:last-child {
  padding: var(--space-m) var(--space-l);
  padding-bottom: 0;
  border: 0;
}

.card--compressed {
  padding: 0 var(--space-m);
  border-bottom: var(--underline); 
}

.card--compressed.card:not(:first-child) {
  border-top: 0;
}

.card--uncompressed {
  flex: 1 1 178px;
  margin: var(--space-m);
  margin-top: 0;
  padding: var(--space-s) var(--space-ml) var(--space-m);
  border: 1px solid var(--border-color);
}

