.header {
  padding: 0 var(--space-m);
  border: 1px solid var(--text-color);
  border-bottom: 0;
}

.header-title {
  font-size: var(--fz-l);
  margin: 0;
  padding-top: var(--space-m);
}
.header-subtitle {
  font-size: var(--fz-xss);
  margin: 0;
  padding: var(--space-s) 0;
}

.header-tooltip-modal {
  border: 1px solid var(--text-color);
  border-radius: 100%;
  background-color: #FFFFFF;
  min-width: 16px;
  margin-left: 4px;
  outline: none;
}

.header--compressedSideBar {
  padding: 0 26px;
}

.header--compressedSideBar > .header-subtitle {
  border-bottom: 1px solid var(--border-color);
}