.widget-modal-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000bb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2vh 10%;
  box-sizing: border-box;
  justify-content: center;
  z-index: 1000;
}

.modal-frame {
  flex: 0 0 auto;
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: scroll;
}



.modal-frame .title {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  padding-bottom: 30px;
}

.modal-frame .downloadInfo {
  color: var(--text-color);
}

.modal-frame .downloadInfo a {
  color: var(--text-color);
}

.modal-frame .coberturas .item {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 30px;
}

.modal-frame .coberturas .item:last-child {
  border-bottom: none;
}

.modal-frame .coberturas .item-title{
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid var(--text-color);
  padding-top: 30px;
}

.modal-frame .coberturas .item-title p {
  margin: 0 0 0 5px;
}

.modal-frame .modal-button {
  margin: 20px 0;
  text-align: center;
}

.modal-frame .modal-button button {
  background-color: var(--text-color);
  color: white;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 12px 20px;
  outline: none;
  letter-spacing: 1.5px;
}