.cards-wrapper {
  border: var(--perimeter);
  border-top: 1px solid var(--border-color);
  border-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards-wrapper--compressedSideBar {
  padding: 0 26px;
  border-top: 0; 
}

.cards-wrapper--single {
  border: 1px solid var(--text-color);
  border-bottom: 0;
}

.cards-wrapper--uncompressed {
  padding-top: var(--space-m);
}

@media screen and (min-width: 400px) {
  .cards-wrapper--uncompressed {
    border-top: 0;
  }
}