:root {
  --small: 15px;
  --medium: 20px;
  --large: 25px;
  --checked-small: 13px;
  --checked-medium: 15px;
  --checked-large: 18px;
}

.checkbox {
  margin: 0;
  border: 1px solid var(--text-color);
  display: inline-block;
  position: relative;
  background-color: var(--c-white);
  color: var(--accent);
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
  border-radius: 0;
  -webkit-appearance: none;
}

.checkbox--checked::before{
  position: absolute;
  left: 0;
  top: -2px;
  content: '\02143';
  transform: rotate(40deg);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox--small {
  width: var(--small);
  height: var(--small);
}

.checkbox--medium {
  width: var(--medium);
  height: var(--medium);
}

.checkbox--large {
  width: var(--large);
  height: var(--large);
}

.checkbox--small.checkbox--checked::before {
  font: 600 var(--checked-small)/1 Arial, Helvetica, sans-serif;
}

.checkbox--medium.checkbox--checked::before {
  font: 600 var(--checked-medium)/1 Arial, Helvetica, sans-serif;
}

.checkbox--large.checkbox--checked::before {
  font: 600 var(--checked-large)/1 Arial, Helvetica, sans-serif;
}