.card-title-container {
  display: flex;
  align-items: center;
}

.card-title-text {
  margin: 0;
  margin-left: var(--space-s);
  padding: var(--space-m) 0;
  font-size: var(--fz-xs);
}

.card-title-price-prefix {
  color: var(--text-color);
}

.card-title-text--single {
  font-size: var(--fz-l);
  margin: 0;
  padding-top: 0;
}

.card-title-price {
  color: var(--accent);
}

.card-title-description {
  font-size: var(--fz-xsss);
  margin: 0;
}

@media screen and (min-width: 0px) {
  .card-title-price::before{
    content: '\A';
    display: block;
  }
}

@media screen and (min-width: 400px) {
  .card-title-text {
    font-size: var(--fz-m);
  }

  .card-title-text--single {
    font-size: var(--fz-xl);
  }

  .card-title-description {
    font-size: var(--fz-xs);
  }
} 