.card-title-container {
  display: flex;
  align-items: center;
}

.card-title-text {
  margin: 0;
  margin-left: var(--space-s);
  padding: var(--space-m) 0;
  font-size: var(--fz-xs);
}

.card-title-price {
  color: var(--accent);
}

.card-title-description {
  font-size: var(--fz-xsss);
  margin: 0;
}
