.card-tooltip-modal {
  border: 1px solid var(--text-color);
  border-radius: 100%;
  background-color: #FFFFFF;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

.card-title-container {
  display: flex;
  align-items: center;
}

.card-title-container--compressedSideBar {
  display: flex;
  justify-content: space-between;
}

.card-title-text {
  margin: 0;
  margin-left: var(--space-s);
  padding: var(--space-m) 0;
  font-size: var(--fz-xs);
  font-family: inherit;
}

.card-title-price-prefix {
  color: var(--text-color);
}

.card-title-text--single {
  font-size: var(--fz-l);
  margin: 0;
  padding-top: 0;
}

.card-title-price {
  color: var(--accent);
}

.card-title-description {
  font-size: var(--fz-xsss);
  margin: 0;
}

.card-title-description-list{
  padding-left: 40px;
  margin: 10px 0;
}

.card-title-description-list li{
  font-family: inherit;
}  

.card-add-button-container {
  flex: 0 0 100px
}

.warrany-not-included {
  opacity: 0.5;
}

@media screen and (min-width: 0px) {
  .card-title-price::before{
    content: '\A';
    display: block;
  }

  .card-title-price--uncompressed::before{
    content: '\00a0';
    display: inline-block;
  }
}

@media screen and (min-width: 400px) {
  .card-title-text {
    font-size: var(--fz-m);
  }

  .card-title-text--single {
    font-size: var(--fz-xl);
  }

  .card-title-description {
    font-size: var(--fz-xs);
  }
} 